<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理</title>
    <!-- 引入样式 -->
    <link href="/static/css/elementui.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <!--查询表单-->
    <el-form :inline="true">
        <el-form-item label="分类名称">
            <el-input placeholder="分类名称" v-model="searchMap.name"></el-input>
        </el-form-item>

        <el-button @click="fetchData()" type="primary">查询</el-button>
        <el-button @click="formVisible=true;pojo={parentId: searchMap.parentId,isShow:'1',isMenu:'0'}" type="primary">新增
        </el-button>
        <el-button @click="returnQuery()" type="primary">返回上级</el-button>
    </el-form>


    <el-table :data="tableData" border style="width: 100%">
        <el-table-column label="ID" prop="id" width="80"></el-table-column>
        <el-table-column label="名称" prop="name" ></el-table-column>
        <el-table-column label="排序" prop="sort" width="80"></el-table-column>
        <el-table-column label="级别" width="80">
            <template slot-scope="scope">
                {{parentIds.length+1}} 级类名
            </template>
        </el-table-column>
        <el-table-column label="上级ID" prop="parentId" width="200"></el-table-column>
        <el-table-column label="操作" width="300">
            <template slot-scope="scope">
                <el-button @click="queryByParentId(scope.row.id)" size="small" type="text" v-if="parentIds.length<2">
                    查询下级
                </el-button>
                <el-button @click="setSpec(scope.row.id)" size="small" type="text" v-if="scope.row.isParent ==false">
                    设置规格
                </el-button>
                <el-button @click="setSpec(scope.row.id)" size="small" type="text" v-if="scope.row.isParent == false">
                    设置参数
                </el-button>
                <el-button @click="edit(scope.row.id)" size="small" type="text">修改</el-button>
                <el-button @click="dele(scope.row.id)" size="small" type="text">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-pagination
            :current-page.sync="currentPage"
            :page-size="size"
            :page-sizes="[10, 20, 30, 40]"
            :total="total"
            @current-change="fetchData"
            @size-change="fetchData"
            layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <!--弹出窗口-->
    <el-dialog :visible.sync="formVisible" title="编辑">
        <el-form label-width="80px">
            <el-form-item label="分类名称">
                <el-input v-model="pojo.name"></el-input>
            </el-form-item>
            <el-form-item label="排序">
                <el-input v-model="pojo.sort"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button @click="save()" type="primary">保存</el-button>
                <el-button @click="formVisible = false">关闭</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

</div>
</body>
<script src="/static/js/vue.js"></script>
<script src="/static/js/axios.js"></script>
<script src="/static/js/elementui.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tableData: [],
                currentPage: 1,
                total: 10,
                size: 10,
                searchMap: {parentId: 0},
                pojo: {},
                formVisible: false,
                imageUrl: '',
                parentIds: [],
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.post(`/category/findPage.do?page=${this.currentPage}&size=${this.size}`, this.searchMap).then(response => {
                    this.tableData = response.data.rows;
                    this.total = response.data.total;
                });
            },
            save() {
                // this.pojo.image= this.imageUrl; //如页面有图片上传功能放开注释
                axios.post(`/category/${this.pojo.id == null ? 'add' : 'update'}.do`, this.pojo).then(response => {
                    this.fetchData(); //刷新列表
                    this.formVisible = false;//关闭窗口
                });
            },
            edit(id) {
                this.formVisible = true // 打开窗口
                // 调用查询
                axios.get(`/category/findById.do?id=${id}`).then(response => {
                    this.pojo = response.data;
                    // this.imageUrl=this.pojo.image //显示图片  如页面有图片上传功能放开注释
                })
            },
            dele(id) {
                this.$confirm('确定要删除此记录吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.get(`/category/delete.do?id=${id}`).then(response => {
                        if (response.data.code == 0) {
                            this.fetchData(); //刷新列表
                        } else {
                            this.$alert(response.data.message)
                        }
                    })
                })
            },
            queryByParentId(parentId) {
                this.parentIds.push(this.searchMap.parentId)
                this.searchMap.parentId = parentId;
                this.searchMap.name=""
                this.fetchData();//加载数据
            },
            setSpec(categoryId) {
                window.location.href="spec.html?categoryId="+categoryId
            },
            setParam(categoryId) {

            },
            returnQuery() {  //上级查询
                //获取上级ID
                if (this.parentIds.length > 0) {
                    this.searchMap.parentId = this.parentIds[this.parentIds.length - 1]
                    this.parentIds.splice(this.parentIds.length - 1, 1);//截掉最后一个
                    this.searchMap.name=""
                    this.fetchData();//加载数据
                }
            }
        }
    })
</script>
</html>
