<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理</title>
    <!-- 引入样式 -->
    <link href="/static/css/elementui.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <!--查询表单-->
    <el-form :inline="true">
        <el-form-item label="名称">
            <el-input placeholder="名称" v-model="searchMap.name"></el-input>
        </el-form-item>
        <el-form-item label="规格选项">
            <el-input placeholder="规格选项" v-model="searchMap.options"></el-input>
        </el-form-item>
        <el-button @click="fetchData()" type="primary">查询</el-button>
        <el-button @click="formVisible=true;pojo={categoryId:categoryId}" type="primary">新增</el-button>
        <el-button onclick="location.href='category.html'" type="primary">返回分类</el-button>
    </el-form>
    <el-table :data="tableData" border style="width: 100%">
        <el-table-column label="ID" prop="id" width="80"></el-table-column>
        <el-table-column label="名称" prop="name" width="200"></el-table-column>
        <el-table-column label="分组" prop="groupName" width="100"></el-table-column>
        <el-table-column label="规格选项" prop="options"></el-table-column>
        <el-table-column label="分类Id" prop="categoryId" width="80"></el-table-column>
        <el-table-column
                label="操作">
            <template slot-scope="scope">
                <el-button @click="edit(scope.row.id)" size="small" type="text">修改</el-button>
                <el-button @click="dele(scope.row.id)" size="small" type="text">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-pagination
            :current-page.sync="currentPage"
            :page-size="size"
            :page-sizes="[10, 20, 30, 40]"
            :total="total"
            @current-change="fetchData"
            @size-change="fetchData"
            layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>

    <!--弹出窗口-->
    <el-dialog :visible.sync="formVisible" title="编辑">
        <el-form label-width="80px">
            <el-form-item label="名称">
                <el-input v-model="pojo.name"></el-input>
            </el-form-item>
            <el-form-item label="分组名称">
                <el-input v-model="pojo.groupName"></el-input>
            </el-form-item>
            <el-form-item label="规格选项">
                <el-input :autosize="{ minRows: 4, maxRows: 15}" type="textarea" v-model="pojo.options"></el-input>
            </el-form-item>

            <el-form-item>
                <el-input type="hidden" v-model="pojo.categoryId"></el-input>
                <el-button @click="save()" type="primary">保存</el-button>
                <el-button @click="formVisible = false">关闭</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

</div>
</body>
<script src="/static/js/vue.js"></script>
<script src="/static/js/axios.js"></script>
<script src="/static/js/elementui.js"></script>
<script src="/static/js/util.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tableData: [],
                currentPage: 1,
                total: 10,
                size: 10,
                searchMap: {},
                pojo: {},
                formVisible: false,
                imageUrl: '',
                categoryId: 0
            }
        },
        created() {
            this.searchMap = {categoryId: getQueryString("categoryId")};
            this.categoryId = getQueryString("categoryId");
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.post(`/spec/findPage.do?page=${this.currentPage}&size=${this.size}`, this.searchMap).then(response => {
                    this.tableData = response.data.rows;
                    this.total = response.data.total;
                });
            },
            save() {
                // this.pojo.image= this.imageUrl; //如页面有图片上传功能放开注释
                this.pojo.options = this.pojo.options.replace(/\n/g, ",");  //回车替换为
                if (this.pojo.options.charAt(this.pojo.options.length - 1) == ',') {//如果最后一个是,则删除
                    this.pojo.options = this.pojo.options.substr(0, this.pojo.options.length - 1);
                }

                axios.post(`/spec/${this.pojo.id == null ? 'add' : 'update'}.do`, this.pojo).then(response => {
                    this.fetchData(); //刷新列表
                    this.formVisible = false;//关闭窗口
                });
            },
            edit(id) {
                this.formVisible = true // 打开窗口
                // 调用查询
                axios.get(`/spec/findById.do?id=${id}`).then(response => {
                    this.pojo = response.data;
                    // this.imageUrl=this.pojo.image //显示图片  如页面有图片上传功能放开注释
                    this.pojo.options = this.pojo.options.replace(/,/g, "\n");  //逗号替换为回车符
                })
            },
            dele(id) {
                this.$confirm('确定要删除此记录吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.get(`/spec/delete.do?id=${id}`).then(response => {
                        this.fetchData(); //刷新列表
                    })
                })
            },
        }
    })
</script>
</html>
