<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理</title>
    <!-- 引入样式 -->
    <link href="/static/css/elementui.css" rel="stylesheet">
    <!-- 上传图片框样式，不使用上传组件可以删除此样式 -->
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 150px;
            height: 70px;
            line-height: 150px;
            text-align: center;
        }

        .avatar {
            width: 150px;
            height: 70px;
            display: block;
        }

    </style>
</head>
<body>
<div id="app">
    <!--查询表单-->
    <el-form :inline="true">
        <el-form-item label="名称">
            <el-input placeholder="名称" v-model="searchMap.name"></el-input>
        </el-form-item>
        <el-form-item label="是否上架">
            <el-input placeholder="是否上架" v-model="searchMap.saleable"></el-input>
        </el-form-item>
        <el-button @click="fetchData()" type="primary">查询</el-button>
        <el-button @click="formVisible=true;pojo={}" type="primary">新增</el-button>
    </el-form>
    <el-table :data="tableData" border style="width: 100%">
        <el-table-column label="主键" prop="id" width="80"></el-table-column>
        <el-table-column label="名称" prop="name" width="80"></el-table-column>
        <el-table-column label="副标题" prop="subName"></el-table-column>
        <el-table-column label="品牌ID" prop="brandId" width="80"></el-table-column>
        <el-table-column label="三级分类" prop="cid3" width="80"></el-table-column>
        <el-table-column label="是否上架" prop="saleable" width="80"></el-table-column>
        <el-table-column label="是否删除" prop="enable" width="80"></el-table-column>

        <el-table-column label="操作" width="80">
            <template slot-scope="scope">
                <el-button @click="edit(scope.row.id)" size="small" type="text">修改</el-button>
                <el-button @click="dele(scope.row.id)" size="small" type="text">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-pagination
            :current-page.sync="currentPage"
            :page-size="size"
            :page-sizes="[10, 20, 30, 40]"
            :total="total"
            @current-change="fetchData"
            @size-change="fetchData"
            layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>

    <!--弹出窗口-->
    <el-dialog :visible.sync="formVisible" title="编辑">
        <el-form label-width="80px">
            <el-form-item label="SPU名">
                <el-input v-model="pojo.name"></el-input>
            </el-form-item>
            <el-form-item label="副标题">
                <el-input v-model="pojo.subName"></el-input>
            </el-form-item>
            <el-form-item label="品牌ID">
                <el-input v-model="pojo.brandId"></el-input>
            </el-form-item>
            <el-form-item label="商品描述">
                <el-input v-model="pojo.description"></el-input>
            </el-form-item>
            <el-form-item label="包装清单">
                <el-input v-model="pojo.packingList"></el-input>
            </el-form-item>
            <el-form-item label="售后服务">
                <el-input v-model="pojo.afterService"></el-input>
            </el-form-item>
            <el-form-item label="是否上架">
                <el-input v-model="pojo.saleable"></el-input>
            </el-form-item>
            <!-- 图片上传代码 如页面有图片上传功能放开注释 ****
            <el-form-item label="图片">
                <el-upload
                        class="avatar-uploader"
                        action="/upload/native.do"
                        :show-file-list="false"
                        :on-success="handleAvatarSuccess"
                        :before-upload="beforeAvatarUpload">
                    <img v-if="imageUrl" :src="imageUrl" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
            </el-form-item>
            -->

            <el-form-item>
                <el-button @click="save()" type="primary">保存</el-button>
                <el-button @click="formVisible = false">关闭</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

</div>
</body>
<script src="/static/js/vue.js"></script>
<script src="/static/js/axios.js"></script>
<script src="/static/js/elementui.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tableData: [],
                currentPage: 1,
                total: 10,
                size: 10,
                searchMap: {},
                pojo: {},
                formVisible: false,
                imageUrl: ''
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.post(`/spu/findPage.do?page=${this.currentPage}&size=${this.size}`, this.searchMap).then(response => {
                    this.tableData = response.data.rows;
                    this.total = response.data.total;
                });
            },
            save() {
                // this.pojo.image= this.imageUrl; //如页面有图片上传功能放开注释
                axios.post(`/spu/${this.pojo.id == null ? 'add' : 'update'}.do`, this.pojo).then(response => {
                    this.fetchData(); //刷新列表
                    this.formVisible = false;//关闭窗口
                });
            },
            edit(id) {
                this.formVisible = true // 打开窗口
                // 调用查询
                axios.get(`/spu/findById.do?id=${id}`).then(response => {
                    this.pojo = response.data;
                    // this.imageUrl=this.pojo.image //显示图片  如页面有图片上传功能放开注释
                })
            },
            dele(id) {
                this.$confirm('确定要删除此记录吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.get(`/spu/delete.do?id=${id}`).then(response => {
                        this.fetchData(); //刷新列表
                    })
                })
            },
            /* ****图片上传相关代码  如页面有图片上传功能放开注释 ****
            handleAvatarSuccess(res, file) {
                this.imageUrl = file.response;
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }*/
        }
    })
</script>
</html>
